<%= form_with(model: @trip, url: trips_path) do |form| %>
  <div class="bg-teal-500 shadow-xl rounded-xl px-8 pt-6 pb-8">
    <div class="mb-4">
      <%= form.label :title, "dê um nome a sua Trip", class: "block text-white text-sm font-bold mb-2" %>
      <%= form.text_field :title, class: "shadow appearance-none border-none rounded w-full py-2 px-3 text-blue-400  leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :place, "vai pra onde?", class: "block text-white  text-sm font-bold mb-2" %>
      <%= form.text_field :place, class: "shadow appearance-none border-none rounded w-full py-2 px-3 text-blue-400  leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="mb-4">
      <%= form.label :date, "quando", class: "block text-white  text-sm font-bold mb-2" %>
      <%= form.date_field :date, class: "shadow appearance-none border-none rounded w-full py-2 px-3 text-blue-400  leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="mb-4">
      <%= form.label :duration, "duração", class: "block text-white  text-sm font-bold mb-2" %>
      <%= form.number_field :duration, class: "shadow appearance-none border-none rounded w-full py-2 px-3 text-blue-400  leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="flex items-center justify-between">
      <%= form.submit "Criar Trip", class: "bg-cyan-300 hover:bg-cyan-400 hover:shadow-md text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  </div>
<% end %>
