<div class="container mx-auto">
    <div class="bg-white shadow-md rounded-lg p-6">
        <h1 class="text-2xl font-bold mb-4">Activity Details</h1>
        <div class="flex flex-col space-y-4">
            <div>
                <h2 class="text-lg font-semibold">Atividade:</h2>
                <p class="text-gray-700"> <%= @activity.name %> </p>
            </div>
            <div>
                <h2 class="text-lg font-semibold">Description:</h2>
                <p class="text-gray-700"> <%= @activity.description %> </p>
            </div>
            <div>
                <h2 class="text-lg font-semibold">Location:</h2>
                <p class="text-gray-700"> <%= @activity.trip_day.trip.place %> </p>
            </div>
            <div>
                <h2 class="text-lg font-semibold">Date:</h2>
                <p class="text-gray-700"> <%= @activity.trip_day.date %> </p>
            </div>
        </div>
        <%= link_to "Voltar", trip_trip_day_path(@activity.trip_day.trip, @activity.trip_day), class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
</div>